<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Поиск Работы</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container mt-5">
        <h1 class="text-center mb-4">Найдите Свою Будущюю Работу Мечты</h1>
        <form method="POST" action="{{ url_for('search_vacancies') }}" class="form-inline justify-content-center">
            <div class="form-group mx-sm-3 mb-2">
                <label for="keyword" class="sr-only">Название Вакансии:</label>
                <input type="text" id="keyword" name="keyword" placeholder="Введите вакансию" class="form-control" required>
            </div>
            <button type="submit" class="btn btn-primary mb-2">Найти</button>
        </form>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js"></script>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>